<li class="country-dropdown">
	<span 	class="action toggle"
	        data-mage-init='{"dropdown":{"position": {"my": "left bottom", "at": "left top", "of": ".logo", "collision": "fit"} }}'
	        data-toggle="dropdown"
	        aria-haspopup="true">
	    <span><?= $this->getStoreName(); ?> (<?= $this->getStoreCurrecyCode(); ?>)</span>
	</span>
	<?php $list = $this->getCountryList();?>
	<!-- <ul class="dropdown">
		<?php foreach ($list as $item): ?>
		    <li>
		    	<span class="item">
		    		<a href="<?= $item['url']; ?>"><?= $item['country']; ?></a>
		    	</span>
		    </li>
		<?php endforeach; ?>
	</ul> -->
</li>