<?php
$categories = $this->getStoreCategories();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
$storeCode = $storeManager->getStore()->getCode();
$storeUrl = $baseUrl . $storeCode;
?>
<nav class="navigation">
    <ul data-mage-init='{"Swissclinic_Header/js/header": {}}'>
        <li>
            <a href="#"><?= __('Shop') ?></a>
            <ul>
                <li>
                    <div>
                        <div class="ui-menu-inner">
                            <div class="ui-menu-column">
                                <?php foreach ($categories as $category): ?>
                                    <a href="<?= $category['url'] ?>"><?= $category['name']; ?></a>
                                <?php endforeach ?>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><?= __('Help & Guides') ?></a>
            <ul>
                <li>
                    <div>
                        <div class="d-flex flex-column">
                            <a href="<?= $storeUrl . '/faq' ?>"><?= __('Questions and Answers') ?></a>
                            <a href="<?= $storeUrl . '/contact' ?>"><?= __('Contact us') ?></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><?= __('About us') ?></a>
            <ul>
                <li>
                    <div>
                        <div class="d-flex flex-column">
                            <?php if ($storeCode == 'br'): ?>
                                <a href="<?= $storeUrl . '/our-story' ?>"><?= __('The Story') ?></a>
                                <a href="https://career.swissclinic.com/" target="_blank"><?= __('Want to join?') ?></a>
                                <a href="https://swissnet.swissclinic.com/corporate" target="_blank"><?= __('Corporate') ?></a>
                            <?php elseif ($storeCode == 'de'): ?>
                                <a href="<?= $storeUrl . '/our-story' ?>"><?= __('The Story') ?></a>
                                <a href="https://career.swissclinic.com/" target="_blank"><?= __('Want to join?') ?></a>
                                <a href="http://press.swissclinic.se/" target="_blank"><?= __('In the news') ?></a>
                                <a href="https://swissnet.swissclinic.com/corporate" target="_blank"><?= __('Corporate') ?></a>
                            <?php endif ?>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><?= __('Inspire me') ?></a>
            <ul>
                <li>
                    <div>
                        <div class="d-flex flex-column">
                            <a href="<?= $storeUrl . '/blog' ?>"><?= __('Magazine') ?></a>
                            <a href="<?= $storeUrl . '/community' ?>"><?= __('Our Community') ?></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>