<div class="product-item" data-role="product-item">
    <!-- ko if: product_has_url -->
    <a class="product-item__image" data-bind="attr: {href: product_url, title: product_name}">
        <!-- ko foreach: $parent.getRegion('itemImage') -->
        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
        <!-- /ko -->
    </a>
    <!-- /ko -->
    <!-- ko ifnot: product_has_url -->
        <div class="product-item__image-wrapper">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
        <!-- /ko -->
        </div>
    <!-- /ko -->

    <div class="product-item__details">
        <div class="product-item__name">
            <!-- ko if: product_has_url -->
            <a class="product-item__link" data-bind="attr: {href: product_url}, html: product_name"></a>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <!-- ko text: product_name --><!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="product-item__price">
            <!-- ko if: canApplyMsrp -->

            <div class="details-map">
                <span class="label" data-bind="i18n: 'Price'"></span>
                <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: canApplyMsrp -->
            <!-- ko foreach: $parent.getRegion('priceSidebar') -->
            <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <div class="current-price">590 kr</div>
            <div class="original-price">445 kr</div>
        </div>
    </div>

    <div class="product-item__qty">
        <label class="label" data-bind="i18n: 'Qty', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
        <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
               type="number"
               size="4"
               class="item-qty cart-item-qty">
        <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                class="update-cart-item"
                style="display: none">
            <span data-bind="i18n: 'Update'"></span>
        </button>
    </div>
    <div class="product-item__remove">
        <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
           class="action delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>ionicons-v5-l</title><line x1="368" y1="368" x2="144" y2="144" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="368" y1="144" x2="144" y2="368" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
        </a>
    </div>
</div>