#main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-menu a {
    color: #000000;
}

#main-menu .navigation {
    background: transparent;
}

@media screen and (min-width: 768px) {
    #menu-toggle,
    #main-menu .navigation-bar {
        display: none;
    }
    #main-menu {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        transform: none;
        opacity: 1;
        transition: none;
        width: auto;
        display: -ms-flexbox;
        display: flex;
        background-color: transparent;
    }
    #main-menu li > a:hover {
        text-decoration: underline;
    }
    #main-menu .modal-menu__section > ul > li > a:hover {
        background-color: #f0f0f0;
    }
    #main-menu .modal-menu__col {
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        border: none;
    }
    #main-menu .modal-menu__inner {
        padding-left: 24px;
    }
    #main-menu .modal-menu__section {
        padding: 0;
        border: none;
        height: 100%;
    }
    #main-menu .modal-menu__col--navigation-bar .modal-menu__section {
        margin-left: 24px;
    }
    #main-menu ul {
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: auto;
    }
    #main-menu a {
        height: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        transition: none;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: .3px;
        padding: 6px 16px 0;
    }
    #main-menu li.level0 > a {
        padding: 7px 16px 0px;
        text-transform: uppercase;
        font-size: 16px;
    }
    #main-menu ul.level0 {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        height: auto;
        display: none;
    }
    ul.header.links {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    #main-menu .modal-menu__col.modal-menu__col--sub-menu {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #f0f0f0;
        top: 80px;
        display: block;
        transition: height 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .stripe-active #main-menu .modal-menu__col.modal-menu__col--sub-menu {
        top: 100px;
    }
    #main-menu .modal-menu__col--sub-menu ul {
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #main-menu .modal-menu__col.modal-menu__col--sub-menu a {
        -ms-flex-pack: start;
        justify-content: start;
    }
}

#mini-cart .navigation-bar {
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
}

#mini-cart-toggle-button {
    height: 100%;
}

.mini-cart__inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.mini-cart__product-list {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 16px 16px 0;
    overflow: auto;
}

.mini-cart__product-list .product-item {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mini-cart__product-list .product-item__details {
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: auto;
    padding-left: 16px;
}

.mini-cart__product-list .product-item__qty {
    margin: auto;
    padding: 0 16px;
}

.mini-cart__total {
    margin-top: auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 24px 0 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #c3c3c3;
}

.mini-cart__actions {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 16px 16px 0;
}

.mini-cart__actions .button {
    margin-bottom: 8px;
    width: 100%;
}

.mini-cart__actions .button.button--secondary {
    background-color: #fff;
    color: #000;
}

@media screen and (min-width: 768px) {
    #mini-cart .modal-menu {
        width: 400px;
        right: 0;
        left: auto;
        transform: translateY(0%) translateX(100%);
    }
    #mini-cart .modal-menu.open {
        transform: translateY(0%) translateX(0%);
    }
    #mini-cart .modal-menu.open {
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15), 0px 0px 3px rgba(0, 0, 0, 0.06);
    }
    .mini-cart__actions {
        padding: 16px 24px;
    }
    #mini-cart .modal-menu__close svg {
        transform: rotate(180deg);
    }
}

.modal-menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.49, -0.01, 0.14, 1), opacity 0.3s cubic-bezier(0.49, -0.01, 0.14, 1);
    bottom: 0;
    background-color: #ffffff;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
    z-index: 9999999999;
}

.modal-menu.open {
    transform: translateY(0%);
    opacity: 1;
    display: -ms-flexbox;
    display: flex;
}

.modal-menu__inner {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.modal-menu__col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #c3c3c3;
}

.modal-menu__col:last-of-type {
    border-right: none;
}

.modal-menu__section {
    padding: 16px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    border-bottom: 1px solid #c3c3c3;
    position: relative;
}

.modal-menu__section--links {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.modal-menu__section ul {
    position: relative;
}

.modal-menu__section ul.level0.submenu {
    display: none;
    position: absolute;
}

.modal-menu__section:last-of-type {
    border-bottom: none;
}

.navigation-bar {
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.navigation-bar .navigation-bar-group {
    display: -ms-flexbox;
    display: flex;
}

.navigation-bar .nav-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 24px;
    flex: 0 1 24px;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    line-height: 24px;
}

.navigation-bar .nav-item.nav-item--button {
    background-color: transparent;
}

.navigation-bar .nav-item.nav-item--button:hover {
    background-color: #f0f0f0;
    color: #000;
}

.navigation-bar .nav-item.nav-item--group {
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.navigation-bar .nav-item.nav-item--header {
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .navigation-tab {
        top: 24px;
        position: absolute;
        width: auto;
    }
}

#search {
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    box-sizing: border-box;
}

#search .search__inner {
    background-color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    transition: top 0.3s cubic-bezier(0.49, -0.01, 0.14, 1), height 0.3s cubic-bezier(0.49, -0.01, 0.14, 1);
}

.navigation-bar--search {
    padding: 16px;
}

#header .navigation-bar {
    background: #ffffff;
    height: 80px;
}

#header .navigation-bar__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

@media screen and (min-width: 768px) {
    #header .navigation-bar__container {
        padding: 0 16px;
    }
}

#header .logo {
    width: 165px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    transition: none;
}

#header .logo svg {
    width: 100%;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    max-height: 110px;
}

@media screen and (min-width: 768px) {
    #header {
        -ms-flex-pack: start;
        justify-content: start;
        padding: 0;
    }
    #header .logo {
        -ms-flex-order: -1;
        order: -1;
    }
    #header.navigation-bar .navigation-bar__container {
        padding-left: 15px;
    }
    #header .nav-item.nav-item--group {
        margin-left: auto;
    }
}


/*
#main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-menu a {
    color: #000000;
    display: block;
}

#mini-cart .navigation-bar {
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
}

#mini-cart-toggle-button {
    height: 100%;
}

.mini-cart__inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.mini-cart__product-list {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 16px;
    padding-right: 16px;
    overflow: auto;
}

.mini-cart__total {
    margin-top: auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 24px 0 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #d7d7d8;
}

.mini-cart__actions {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 16px 16px 0;
}

.mini-cart__actions .button {
    margin-bottom: 8px;
    width: 100%;
}

.mini-cart__actions .button.button--secondary {
    background-color: #fff;
    color: #000;
}

.modal-menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(30%);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.49, -0.01, 0.14, 1),
    opacity 0.3s cubic-bezier(0.49, -0.01, 0.14, 1);
    bottom: 0;
    background-color: #ffffff;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
    z-index: 9999999999;
}

.modal-menu.open {
    transform: translateY(0%);
    opacity: 1;
    display: -ms-flexbox;
    display: flex;
}

.modal-menu__inner {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.modal-menu__col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #d7d7d8;
}

.modal-menu__section {
    padding: 16px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    border-bottom: 1px solid #d7d7d8;
    position: relative;
}

.modal-menu__section--links {
    flex: 0 1 auto;
    -ms-flex: 0 1 auto;
}

.modal-menu__section ul {
    position: relative;
}

.modal-menu__section ul.level0.submenu {
    display: none;
    position: absolute;
}

.modal-menu__section:last-of-type {
    border-bottom: none;
}

#header {
    width: 100%;
    background: #ffffff;
    max-height: 110px;
    display: -ms-flexbox;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    z-index: 900;
    position: fixed;
    top: 0;
}

#header .navigation-bar {
    background: #ffffff;
    height: 80px;
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.nav-item--button {
    background-color: transparent;
}

.nav-item--button:hover {
    background-color: #f0f0f0;
    color: #000;
}

#header .logo {
    width: 165px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    transition: none;
    -ms-flex-align: center;
    align-items: center;
}

#header .logo img {
    width: 100%;
}

.button {
    padding: 20px 0 16px;
    cursor: pointer;
    text-align: center;
}

.button--primary {
    background-color: #222222;
    color: #ffffff;
}

.button--secondary {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.button--header {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8px;
    color: #000;
}

.button-group {
    display: -ms-flexbox;
    display: flex;
}

.navigation-bar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.navigation-bar .navigation-bar-group {
    display: -ms-flexbox;
    display: flex;
}

.navigation-bar .nav-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 24px;
    flex: 0 1 24px;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    line-height: 24px;
}

.navigation-bar .nav-item.nav-item--group {
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.navigation-bar .nav-item.nav-item--header {
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
}

input[type="text"] {
    border: 1px solid #d7d7d8;
    padding: 10px 16px 8px;
    height: 48px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

#search {
    border-bottom: 1px solid #d7d7d8;
    border-top: 1px solid #d7d7d8;
    box-sizing: border-box;
}

#search .search__inner {
    background-color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    transition: top 0.3s cubic-bezier(0.49, -0.01, 0.14, 1),
    height 0.3s cubic-bezier(0.49, -0.01, 0.14, 1);
}

.navigation-bar--search {
    padding: 16px;
}

.product-list .product {
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
}

.product__image {
    width: 75px;
    height: 75px;
    background: #f6f6f6;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
}

.product-list .product .product__details {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 16px;
    min-width: 0;
}

.product__details .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 8px;
}

.product__details .name span {
    white-space: nowrap;
}

.product-list .product .product__details .price {
    display: -ms-flexbox;
    display: flex;
}

.product-list .product .product__details .price > * {
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
}

.product-list .product .product__qty,
.product-list .product .product__remove {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.product__qty {
    padding: 0 16px;
    text-decoration: underline;
    flex: 0 0 24px;
    -ms-flex: 0 0 24px;
}

.product__qty span {
    display: inline-block;
    min-width: 24px;
    text-align: center;
}

.original-price {
    text-decoration: line-through;
}

.navigation-bar .navigation-bar__container {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack: justify;
    padding: 0;
}

.page-wrapper--checkout .navigation-bar__container.container {
    justify-content: space-between;
}

.page-wrapper--checkout button.nav-item.nav-item--button.button.button--header {
    order: 0;
}

.page-wrapper--checkout #header .logo {
    order: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.page-wrapper--checkout .navigation-bar__container.container:after, .page-wrapper--checkout .navigation-bar__container.container:before {display: none;}

.nav-item--back-button span {
    margin-left: 8px;
    font-size: 14px;
}

@media screen and (max-width: 767px) {

    #header:before, #header:after {
        display: none;
    }

    .modal-menu__section ul.level0.submenu {
        top: 0;
        width: 100%;
        transform: translateX(calc(100% + 32px));
    }

    li.level-top > a {
        font-size: 17px;
        padding: 8px 0;
    }

    ul.level0.submenu li > a,
    .header.links a {
        padding: 8px 0;
    }

    .modal-menu__section.modal-menu__section--header-links {
        flex: 0 0 auto;
    }

    #main-menu .navigation-bar {
        border-bottom: 1px solid #d7d7d8;
    }

    #main-menu .modal-menu__section li.level0:first-child ul.level0 {
        display: block;
    }

    #main-menu .navigation a {
        position: relative;
        padding: 8px 0;
    }

    #main-menu .navigation a:after {
        content: "";
        height: 6px;
        width: 6px;
        background: rgb(179, 210, 204);
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 2px;
        border-radius: 50%;
        transform: scale(3);
        opacity: 0;
        transition: 300ms opacity ease-out, 300ms transform ease-out;
    }

    #main-menu .navigation a.active:after {
        opacity: 1;
        transform: scale(1);
    }

    .navigation-tab {
        display: none;
    }

    .navigation-tab.active,
    .navigation-tab:first-of-type {
        display: block;
    }

    .navigation-bar .navigation-bar__container:before,
    .navigation-bar .navigation-bar__container:after {
        display: none;
    }

    .navigation-bar .navigation-bar__container {
        width: 100%;
    }
    
    .nav-item--back-button span {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        padding-top: 80px;
    }

    #header {
        justify-content: start;
        padding: 0;
    }

    #header .logo {
        order: -1;
    }

    #header.navigation-bar .navigation-bar__container {
        padding-left: 15px;
    }

    #header .nav-item.nav-item--group {
        margin-left: auto;
    }

    #menu-toggle,
    #main-menu .navigation-bar {
        display: none;
    }

    #main-menu {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        transform: none;
        opacity: 1;
        transition: none;
        width: auto;
        display: -ms-flexbox;
        display: flex;
        background-color: transparent;
    }

    #main-menu li > a:hover {
        text-decoration: underline;
    }

    #main-menu .modal-menu__section > ul > li > a:hover {
        background-color: #f0f0f0;
    }

    #main-menu .modal-menu__col {
        flex-direction: row;
        width: 100%;
        border: none;
    }

    #main-menu .modal-menu__inner {
        padding-left: 24px;
    }

    #main-menu .modal-menu__section {
        padding: 0;
        border: none;
        height: 100%;
    }

    #main-menu .modal-menu__col--navigation-bar .modal-menu__section {
        margin-left: 24px;
    }

    #main-menu ul {
        display: flex;
        height: 100%;
        width: auto;
    }

    #main-menu a {
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: none;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: .3px;
        padding: 6px 16px 0;
    }

    #main-menu li.level0 > a {
        padding: 7px 16px 0px;
        text-transform: uppercase;
        font-size: 16px;
    }

    #main-menu ul.level0 {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        height: auto;
        display: none;
    }

    ul.header.links {
        justify-content: flex-end;
    }

    #mini-cart .modal-menu {
        width: 400px;
        right: 0;
        left: auto;
        transform: translateY(0%) translateX(100%);
    }

    #mini-cart .modal-menu.open {
        transform: translateY(0%) translateX(0%);
    }

    .navigation-tab {
        top: 24px;
        position: absolute;
        width: auto;
    }

    #main-menu .modal-menu__col.modal-menu__col--sub-menu {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #f0f0f0;
        top: 80px;
        display: block;
        transition: height 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .stripe-active #main-menu .modal-menu__col.modal-menu__col--sub-menu {
        top: 110px;
    }

    #main-menu .modal-menu__col--sub-menu ul {
        flex-direction: column;
        width: 100%;
    }

    #main-menu .modal-menu__col.modal-menu__col--sub-menu a {
        justify-content: start;
    }

    .modal-menu__section.modal-menu__section--main-menu {
        display: flex;
    }

    #mini-cart .modal-menu.open {
        box-shadow: 0px 0px 60px rgba(0,0,0,0.15), 0px 0px 3px rgba(0,0,0,.06);
    }

    .mini-cart__actions {
        padding: 16px 24px;
    }

    #mini-cart .modal-menu__close svg {
        transform: rotate(180deg);
    }

}
*/
