<div class="modal-menu__inner">
    <div class="modal-menu__col">
        <div class="modal-menu__section">
            <?= $this->getChildHtml("top.navigation.sections"); ?>
        </div>
        <div class="modal-menu__section">
            <?= $this->getChildHtml("top.links"); ?>
            <?= $this->getChildHtml("header.links"); ?>
            <?= $this->getChildHtml("store_language"); ?>
            <?= $this->getChildHtml("store_switcher"); ?>
            <?= $this->getChildHtml("currency"); ?>
        </div>
    </div>
</div>
